.header {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px;
  height: 44px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  position: sticky;
  top: 0;
  z-index: 20;
}

.notification-icon,
.settings-icon {
  font-size: 23px;
  color: #5a5a5a;
  cursor: pointer;
  margin-left: 10px;
}
